#top{
    background-color: #A5BFCC;
height: 15%;
}
#logo {
    height: 100px;
    width: 100px;
}

.p1{
    background-color: #F4EDD3;
}
.b1{
    height: 500px;
    width: 500px;
}

.p2{
    background-color: #F4EDD3;
}

.p3{
    background-color: #7E99A3;
}
.b2{ 
    height:250px;
    width: 250px;
}
.bottom{
    background-color: #A5BFCC;
    height: 30%;
}